[Reference](https://medium.com/swlh/automating-exploratory-data-analysis-part-3-d04352b83072)

In [1]:
pip install lux

Collecting lux
  Downloading lux-0.8.2-py3-none-any.whl (354 kB)
     |████████████████████████████████| 354 kB 45.0 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from lux) (2.8.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from lux) (2018.9)
Collecting pulsar-odm
  Downloading pulsar-odm-0.7.0.tar.gz (40 kB)
     |████████████████████████████████| 40 kB 6.1 MB/s
Requirement already satisfied: greenlet in /usr/local/lib/python3.7/dist-packages (from lux) (1.1.2)
Collecting pyjwt
  Downloading PyJWT-2.3.0-py3-none-any.whl (16 kB)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from lux) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->lux) (2.0.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pulsar-odm->lux) (1.4.25)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (from pulsar-odm->lux) (2.7.6.1)
Collecting pulsar
  Using cached pulsar-2.0.2-py3-none-any.whl (280 kB)
Collecting multidict
  Using cached multidict-5.2.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (160 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->lux) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pulsar-odm->lux) (4.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pulsar-odm->lux) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pulsar-odm->lux) (3.6.0)
Building wheels for collected packages: pulsar-odm
  Building wheel for pulsar-odm (setup.py) ... done
  Created wheel for pulsar-odm: filename=pulsar_odm-0.7.0-py3-none-any.whl size=17003 sha256=63d3386dd19709eb90bb2e096dc4717f4413031317e49a3119e2fcecc979e80f
  Stored in directory: /root/.cache/pip/wheels/32/24/d8/2e559a0d244f6998e03186b4b4b4b937c6e90a5d7697b627fb
Successfully built pulsar-odm
Installing collected packages: multidict, pulsar, pyjwt, pulsar-odm, lux
Successfully installed lux-0.8.2 multidict-5.2.0 pulsar-2.0.2 pulsar-odm-0.7.0 pyjwt-2.3.0

In [2]:
import pandas as pd
import lux

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/lux-org/lux-datasets/master/data/car.csv")

In [4]:
df

                          Name  MilesPerGal  ...  Origin       Brand
0    chevrolet chevelle malibu         18.0  ...     USA   chevrolet
1            buick skylark 320         15.0  ...     USA       buick
2           plymouth satellite         18.0  ...     USA    plymouth
3                amc rebel sst         16.0  ...     USA         amc
4                  ford torino         17.0  ...     USA        ford
..                         ...          ...  ...     ...         ...
387            ford mustang gl         27.0  ...     USA        ford
388                  vw pickup         44.0  ...  Europe  volkswagen
389              dodge rampage         32.0  ...     USA       dodge
390                ford ranger         28.0  ...     USA        ford
391                 chevy s-10         31.0  ...     USA   chevrolet

[392 rows x 10 columns]

In [5]:
df.intent = ["MilesPerGal","Acceleration"]
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

                          Name  MilesPerGal  ...  Origin       Brand
0    chevrolet chevelle malibu         18.0  ...     USA   chevrolet
1            buick skylark 320         15.0  ...     USA       buick
2           plymouth satellite         18.0  ...     USA    plymouth
3                amc rebel sst         16.0  ...     USA         amc
4                  ford torino         17.0  ...     USA        ford
..                         ...          ...  ...     ...         ...
387            ford mustang gl         27.0  ...     USA        ford
388                  vw pickup         44.0  ...  Europe  volkswagen
389              dodge rampage         32.0  ...     USA       dodge
390                ford ranger         28.0  ...     USA        ford
391                 chevy s-10         31.0  ...     USA   chevrolet

[392 rows x 10 columns]